.Rproj.user
.Rhistory
.RData
.Ruserdata
.spl
manuscript_tf/manuscript.pdf
manuscript_tf/manuscript.Rmd
manuscript_tf/manuscript.tex
manuscript_tf/manuscript_files
manuscript_tf/cover_letter.pdf
manuscript_tf/author_tex.txt